<!-- author xzq -->
<extend name="Public:frameset" />
<block name="style">
    <style>
    body{
    background-image:url("__PUBLIC__/assets/pages/img/calendar/back-calendar.png");
        height:468px !important;
        width:320px !important;
    }


    </style>
    <link rel="stylesheet" href="__PUBLIC__/assets/global/plugins/fullcalendar/fullcalendar.css" type="text/css"/>
    <link rel="stylesheet" href="__PUBLIC__/assets/global/plugins/fullcalendar/fullcalendar.print.css" type="text/css" media="print"/>
    <link rel="stylesheet" href="__PUBLIC__/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.css" type="text/css">

</block>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- BEGIN PAGE-BODY -->
<block name="page-body">
    <div id='calendar'  style='color:#00bcd4 !important ;margin-top:60px'></div>

</block>
<!-- END PAGE-BODY -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<block name="script">
    <!--<script src="__PUBLIC__/assets/global/plugins/jquery-modal/jquery-modal.js" type="text/javascript"></script>-->
   <script src="__PUBLIC__/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/assets/pages/scripts/calendar.js" type="text/javascript"></script>
    <script src="__PUBLIC__/assets/pages/scripts/demo.js"></script>
    </block>
<!-- END PAGE LEVEL SCRIPTS -->
<block name="script-init">
    <script type="text/javascript">
        $(document).ready(function() {
            Calendar.init();
           Demo.init();
        });
    </script>
</block>